<!-- index.ejs -->
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <h1>
        <%= title %>
    </h1>

    <button type="button">
        <a href="/new">Add Message</a>
    </button>

    <%- include("message", { messages: messages }) %>

</body>

</html>