<!-- index.ejs -->
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("nav") %>
        <h1>
            <%= title %>
        </h1>

        <button type="button">
            <a href="/new">Add Message</a>
        </button>

        <%- include("messages", { messages: messages }) %>

</body>

</html>