<% messages.forEach((message, index)=> { %>
    <div class="message-card">
        <%- include("message", { message: message, index: index }) %>
            <div class="text-center mt-2">
                <button type="button">
                    <a href="/messages/<%= message.id %>">Open</a>
                </button>
            </div>
    </div>
    <% }); %>