<html>

<head>
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("nav") %>
        <div class="container">
            <div class="message-detail">
                <h2>
                    User: <%= message.user %>
                </h2>
                <ul>
                    <li>
                        <span class="label">Text:</span>
                        <%= message.text %>
                    </li>
                    <li>
                        <span class="label">Added:</span>
                        <%= message.added %>
                    </li>
                </ul>
            </div>
        </div>
</body>

</html>