<html>

<head>
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <%- include("nav") %>
        <h2>
            User: <%= message.user %>
        </h2>
        <ul>
            <li>
                Text: <%= message.text %>
            </li>
            <li>
                Added: <%= message.added %>
            </li>
        </ul>
</body>

</html>